/* Don't show icon for winmail.dat */
.yE[title="winmail.dat"] {
    background: none;
}
/* Hide individual file icons for replacement */
.aYA[title *=".odt"] > img,
.aYA[title *=".ODT"] > img,
.aYA[title *=".ods"] > img,
.aYA[title *=".ODS"] > img,
.aYA[title *=".odp"] > img,
.aYA[title *=".ODP"] > img,
.aYA[title *=".sav"] > img,
.aYA[title *=".SAV"] > img,
.aYA[title *=".spv"] > img,
.aYA[title *=".SPV"] > img,
.aYA[title *=".sps"] > img,
.aYA[title *=".SPS"] > img {
    visibility: hidden;
}
.aYA[title *=".odt"]:before,
.aYA[title *=".ODT"]:before,
.aYA[title *=".ods"]:before,
.aYA[title *=".ODS"]:before,
.aYA[title *=".odp"]:before,
.aYA[title *=".ODP"]:before,
.aYA[title *=".sav"]:before,
.aYA[title *=".SAV"]:before,
.aYA[title *=".spv"]:before,
.aYA[title *=".SPV"]:before,
.aYA[title *=".sps"]:before,
.aYA[title *=".SPS"]:before {
    content: "";
    display: block;
    position: relative;
    top: 8px;
    left: 10px;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
}
/* Images */
.yE[title *=".bmp"],
.yE[title *=".BMP"],
.yE[title *=".gif"],
.yE[title *=".gif"],
.yE[title *=".GIF"],
.yE[title *=".GIF"],
.yE[title *=".jpeg"],
.yE[title *=".JPEG"],
.yE[title *=".jpg"],
.yE[title *=".JPG"],
.yE[title *=".png"],
.yE[title *=".PNG"] {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAcklEQVQ4y2O47WL+Hoj/k4nfM1CgGYyHqwEvu5rIN+Dtotn/QQBEk2zAk+LM/8gAxIfJPUqP/f/7xTMwjdWAB9EB//9+/oxiAIgPEr8b4ALWDAIgGsTHMODHnVv/sQGQOLociI9hAKmA+gYM7ZRIUXYGAIDmqCXlWTtHAAAAAElFTkSuQmCC');
}
/* Documents */
.yE[title *=".doc"],
.yE[title *=".DOC"] {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAzUlEQVQ4y6WTwQ2EIBBFLcESKIESvHqjBErYEjjtlRIsgRIowRI8eqQEdzEz5vszBxNJxjCfnyfMwDB/90OiDjB6jjr4rviPc2EVoRGgoW4AVgVkEJ2YHZkdgDfRsgICGIOYAgFUH1FTAP4tiTERIBlgdwJoW0XyQoBC4K3nCFhwAYCVdM0XBkTcGsxRx/NHBng8r86pfR+Y+xuA+n7QBdJtN74vDODCZdGzVVALwK2LRn2ullqAiYzeqE+PyQTwfX+iW4D65GXeAP3zJn6vseu/zWBNiwAAAABJRU5ErkJggg==');
}
.yE[title *=".odt"],
.yE[title *=".ODT"],
.aYA[title *=".odt"]:before,
.aYA[title *=".ODT"]:before {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAKklEQVQ4jWNwav2yAIj/k4kXMFCgGYwHmQHEglEXDIQLhlBCGjADKMrOANM35etLmvf0AAAAAElFTkSuQmCC');
}
.yE[title *=".xls"],
.yE[title *=".XLS"] {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAxklEQVQ4y2MQW57yHoj/Q7EDAxoAiSHJg9QKgMT///8PxugK7sMUQDULQMUwLIAbAFXYj6SoH8kArOLYDADZdB7ZJjSXnUd2GYYBUEMM0LyC7HQD9LDBMABqSAOSJhhuYMACsBoANQTZ5vsMOAAuFyigRSuIrUCKAfuxeGE/UQYAFRYgaVoPxTB+AV4DoDHwHjm1QTGymAE+A85jS21AdgByWsBqAFrU9WOJlfnYohTZgP+4MI78YECSAVhyJDhZww2AMcjFAJc7dTUr8dq0AAAAAElFTkSuQmCC');
}
.yE[title *=".ods"],
.yE[title *=".ODS"],
.aYA[title *=".ods"]:before,
.aYA[title *=".ODS"]:before {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMUlEQVQ4y2PgnxuxAIj/k4kXMFCgGYypawCxAK8B2Ni41NDGgFEvDHkvDFheoCg7AwAXsnQNqnNJuAAAAABJRU5ErkJggg==');
}
.yE[title *=".ppt"],
.yE[title *=".PPT"] {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAY0lEQVQ4jWP4X2r+nwB+D8QNDFDw//9/FMxAhAEwfB6XAQ1QjKwYJrYfQxzdALjTkBQyMKCIB6B4h1QDoHIIl9DdALK8gBSI68kKRJKiEYcB74lOSMQEIkqYjBqAJTOhCZCKAUu96CpqF411AAAAAElFTkSuQmCC');
}
.yE[title *=".odp"],
.yE[title *=".ODP"],
.aYA[title *=".odp"]:before,
.aYA[title *=".ODP"]:before {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAANklEQVQ4T2P4soVBAIgPAPF/EjFIjwADmZrhhjAQoQgvpq4BxIJRAwa1AeTgwWEAxZmJouwMAHyj/qlKsKWPAAAAAElFTkSuQmCC');
}
.yE[title *=".pub"],
.yE[title *=".PUB"] {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAi0lEQVR42tWTQQoDIQxFPWsv0OUsuvA6HqP3EdyJEdTUDFRSgmMzs5oPj2ySx9/EIOKOtRb/4NWh3XH3I8g5Y0pJAABc8pwKKGZ7C3ro8Dtr53FGwElTgfdewDJkU4FzbhBCoMnRCWKMApUAAK41KKUIVIJaq77BOusGvMndGtAztdaOoJ25QMEQfADzDx8Vvn4t4AAAAABJRU5ErkJggg==');
}
.yE[title *=".txt"],
.yE[title *=".TXT"],
.yE[title *=".vcf"],
.yE[title *=".VCF"] {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAATklEQVQ4jWP4//8/AyUYzvBse/4fD97PgARIMuDiw58YhpBkAAigG4LXABhA5yMbQrIL0A0hygXIrsBiKMmxQLwB+MBIdgF9Y4FsA8jFAD1C6regRJRvAAAAAElFTkSuQmCC');
}
/* Compressed */
.yE[title *=".rar"],
.yE[title *=".RAR"],
.yE[title *=".tar"],
.yE[title *=".TAR"],
.yE[title *=".zip"],
.yE[title *=".ZIP"] {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAOklEQVQ4jWNgGH6guLj4Py5MHwMoBsPDC+dxuOA8sQYIYDEExBcgxRUKQPweqhlEG5DjFQOyNQ8tAAAXFG8XqmcJnQAAAABJRU5ErkJggg==');
}
/* Media */
.yE[title *=".avi"],
.yE[title *=".AVI"],
.yE[title *=".mov"],
.yE[title *=".MOV"],
.yE[title *=".mp"],
.yE[title *=".MP"] {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAWElEQVQ4jWP4//8/AyWY4baL+YK7AS7/QeBZfdl/IB+MiRRbwACT/HL04P9PO7fAFRMrBjfgZVfT/79fPqMoJkaMgWKAbDo5eJAZQCwYxF4YwQYsoMCABQAu1V08G/5LMAAAAABJRU5ErkJggg==');
}
/* PDF */
.yE[title *=".pdf"],
.yE[title *=".PDF"] {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAFo9M/3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAP9JREFUeNpiuO1i3gDE/5kYGBjqheJSGAACiBHEYwCBl11N/0EAIIAQIlDAxIAGAAKICBUgg0CMO64WYAEWGAMGAAIIwwwMAFLw7cLZ/z/u3AK7C8SGib1dNBvsBYbvl84xPM6IhbiCh5cBJvZu0RwGglYABBAhBY1MDPhBPSEFDAzoLof5BuQDWESguJxdWRXMFopNQYQtzIsgwVfdzQzIQUvQmwQdCRBghOOCAGBioBSAXAADv188+w9KjITEYAAejOAgvHiO4feL5wygtA0D7xbPYfi0ayuDWGktA7I6kDg8gcIloKkHGXDqGYHpPy+fM+BSN/CBCDKgkQL9jQCMRMcgIYCQQAAAAABJRU5ErkJggg==');
}
/* SPSS */
.yE[title *=".sav"],
.yE[title *=".SAV"],
.yE[title *=".spv"],
.yE[title *=".SPV"],
.yE[title *=".sps"],
.yE[title *=".SPS"] {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACjElEQVQ4jYWTzUsUcRjHP7+ZcdvRJndlTXtx25DILqlFedCgKDx4EbRCwYxFuleHrtWxQ9k/EFKXMCqSunTSqENBpUZFEQurnsRtdXdmZ3Zedn4dzCjN+sJzeOD5PDwvfIWUkt914sr48M7tdenq6uhxxw2w3QDHDVguWFMrBWvsy530vd/rxVqDhr7R5EDPkYnWlmSb7QaYtkex5FG0V8O0PfwgJJfLz2SzC72Ljy/NAyhr8Eh/5+zJjv1tRnWEaEQloqlomoKqCFRFoCgCgESirq25ec9sQ99oEkAD6O8+PNHekow9ef6aWj3CVj0CYhWoBWp1WPAlS97q2PF4LJZKhRNAu+i6fH94oOfo3a16FWGlwmDHbrZUqfxNN59+ZvLj4q88k5k7rzXWx9Klsk8oJZqqMP56nqHOFHnL5cazr5i2h2n7dLc20txg/NHAMGrS4tztSZnalSBSpaIqgjCUNMUiDB3by9ySxfVHn7Acn7IXsO5hmKaF4rgBRdujUHJZsVwKJY/p+SIPXn4jtd3gTEcTnl/ZAK9Jc7zVl2mqghACKSVeucw712R/sp7GmE4l3IQGNMcNMG0fVRUIIQgrAXqlRLR+J5VQcnV8dlMYQCma9pTt+liOj2V7qOUCSk2cC6f2/YIVGbBNOBtgxylPKaZZGpMSwlBihAUO7I4zOnyIF+8zdO2JcGiHwtFklO7DKa6dPbjuiKUxIaWk4/LD6USirg3g/sUuDL3qr+O+zXzn2oMPAORy+Zk3t063awDZ7EKvqiqz8XgsNnj71T93BlheXlnJZhd64acXFh9fms9k5lpzufzM/+BcLj+Tycy1rplJrLdzy8jYsGHUpHU9enz9wUyztMHOPwBFFDIFtyqLDwAAAABJRU5ErkJggg==');
}
.aYA[title *=".sav"]:before,
.aYA[title *=".SAV"]:before {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAV9JREFUeNqMU81Kw0AQnt38YbB68hEEScGDJ1vQm+DRpxA89AVSjx7ER+ij5Khg61X05CX3mGJMSdhQm+6k2bLb3YAD05nufPPt7MyE1HUNKISQPjc96BCOm5nObcnvxXE8NYGiKMILBiYSmYBjCBRFoRFUVQVJkkx5fMhJlEuo/MeyLLBtW1M8930fSV6xki4CQimFLvU8TyYZGp8gbtwVJAjDcJOwiZNtkjSFizRNnxljGkFZlpDneeO7rgtBEFzyvBdjBfPxBNjs0zgu77wPR493SgV0l8CULARjjuMoBFoFq2wBh5N7WL5/gX163ASEn90+aD3Q9mA5/wX29tEc/LVW+BhDTNcTKHYbxTk72VrZFxOR85QKcGFQVt8/ipX9FmN+Av4cXA8gGz0B8VyoWaU0EWMyVnxl0O7CVf1PabFNnlxBxht0w+0e130cO1YseohT5LrAvUKsSFoLMADSy6vA1B3V8AAAAABJRU5ErkJggg==');
}
.aYA[title *=".spv"]:before,
.aYA[title *=".SPV"]:before {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVBJREFUeNpi/P//PwMIMDIyagMpXgYcAKjuBDZxFiQ274MHD45jU7Rr1y6QBZbYDEE2AKiGkeHbt28YBvz69Yvh9evXx4HyVkBDUCxhQuYwMzMzsLCwYGCQOBcXF8iQYyCX4DKAkYmJiQEXZmdnRzbECqsXYDaiA5ABVVVVEA0QeUa4JqRYsH379u2hnz9/Yhjw/ft3hs+fP4PZbGxsDFpaWnZAfYexuqBy2iGGY5efYY1KS10phu5cRxQXMKEbgEszCBwHyrGysqIYgOGCtx+/Mdxal4fVALWgSRhhgJEO3n38zgALF1GXLgxDQGpwGcAECm100FEWwaAkKwZmh+VOYoCqYcIaBqAEQwhA1WD3AojwtlFFcXpF1wo4GySHrBaWy2B+dv1PJICqBetDdsFHYAAFAGlOIOYBYnaQi6Fyf4EYlMK+gNIVSC1ME0CAAQDO35WJdv2+DwAAAABJRU5ErkJggg==');
}
.aYA[title *=".sps"]:before,
.aYA[title *=".SPS"]:before {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWVJREFUeNqMU71KxEAQnt38afCaw0pfQCNYCh4oHGjvU2hvcUVeQbC3sfcVUp7gibWojRIsDs4QQSMJyXnGmfyxSTbowGQmM998OzuZsDRNgYQxtoWmBx2CuFtZXBX8nuu6ExnIcRw6YFdGIhIghkEYhi2CJEnA87wJ5gdIUjuEiy+KooCqqi2luGmaRHJDnXQRMM45dKlhGCLJQHqF8sSmEIFt23lBnmdVkfAV9nzfH8dx3CKIogiCIMh8XdfBsqx9rLuWdgDjS2DThxrBEmof9WdtE5Thca0D3iRoFld7QIDpI2iaViNodRDOXqB/egHJ013e8sZO5pN9Pz9pzYA39+B79gywiGH+ep9p6ZOlHGG6CDhN+y8pMFx6BVqYPGqCsrpe99GWy9Y5A3oY2wfwNhpWwc+rs8pSTsSWfxkUu3CY/lMKbFYndvCBAzpCu4y6Qs1Qx0VugUob9kV7Rdiy6FeAAQD6dadPfBEkNgAAAABJRU5ErkJggg==');
}
