/* Don't show icon for winmail.dat */
.yE[title="winmail.dat"] {
    background: none;
}
/* Images */
.yE[title *=".bmp"],
.yE[title *=".BMP"],
.yE[title *=".gif"],
.yE[title *=".gif"],
.yE[title *=".GIF"],
.yE[title *=".GIF"],
.yE[title *=".jpeg"],
.yE[title *=".JPEG"],
.yE[title *=".jpg"],
.yE[title *=".JPG"],
.yE[title *=".png"],
.yE[title *=".PNG"] {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAcklEQVQ4y2O47WL+Hoj/k4nfM1CgGYyHqwEvu5rIN+Dtotn/QQBEk2zAk+LM/8gAxIfJPUqP/f/7xTMwjdWAB9EB//9+/oxiAIgPEr8b4ALWDAIgGsTHMODHnVv/sQGQOLociI9hAKmA+gYM7ZRIUXYGAIDmqCXlWTtHAAAAAElFTkSuQmCC');
}
/* Documents */
.yE[title *=".doc"],
.yE[title *=".DOC"],
.yE[title *=".odt"],
.yE[title *=".ODT"] {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAzUlEQVQ4y6WTwQ2EIBBFLcESKIESvHqjBErYEjjtlRIsgRIowRI8eqQEdzEz5vszBxNJxjCfnyfMwDB/90OiDjB6jjr4rviPc2EVoRGgoW4AVgVkEJ2YHZkdgDfRsgICGIOYAgFUH1FTAP4tiTERIBlgdwJoW0XyQoBC4K3nCFhwAYCVdM0XBkTcGsxRx/NHBng8r86pfR+Y+xuA+n7QBdJtN74vDODCZdGzVVALwK2LRn2ullqAiYzeqE+PyQTwfX+iW4D65GXeAP3zJn6vseu/zWBNiwAAAABJRU5ErkJggg==');
}
.yE[title *=".xls"],
.yE[title *=".XLS"],
.yE[title *=".ods"],
.yE[title *=".ODS"] {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAxklEQVQ4y2MQW57yHoj/Q7EDAxoAiSHJg9QKgMT///8PxugK7sMUQDULQMUwLIAbAFXYj6SoH8kArOLYDADZdB7ZJjSXnUd2GYYBUEMM0LyC7HQD9LDBMABqSAOSJhhuYMACsBoANQTZ5vsMOAAuFyigRSuIrUCKAfuxeGE/UQYAFRYgaVoPxTB+AV4DoDHwHjm1QTGymAE+A85jS21AdgByWsBqAFrU9WOJlfnYohTZgP+4MI78YECSAVhyJDhZww2AMcjFAJc7dTUr8dq0AAAAAElFTkSuQmCC');
}
.yE[title *=".ppt"],
.yE[title *=".PPT"],
.yE[title *=".odp"],
.yE[title *=".ODP"] {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAY0lEQVQ4jWP4X2r+nwB+D8QNDFDw//9/FMxAhAEwfB6XAQ1QjKwYJrYfQxzdALjTkBQyMKCIB6B4h1QDoHIIl9DdALK8gBSI68kKRJKiEYcB74lOSMQEIkqYjBqAJTOhCZCKAUu96CpqF411AAAAAElFTkSuQmCC');
}
.yE[title *=".pub"],
.yE[title *=".PUB"] {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAi0lEQVR42tWTQQoDIQxFPWsv0OUsuvA6HqP3EdyJEdTUDFRSgmMzs5oPj2ySx9/EIOKOtRb/4NWh3XH3I8g5Y0pJAABc8pwKKGZ7C3ro8Dtr53FGwElTgfdewDJkU4FzbhBCoMnRCWKMApUAAK41KKUIVIJaq77BOusGvMndGtAztdaOoJ25QMEQfADzDx8Vvn4t4AAAAABJRU5ErkJggg==');
}
/* Compressed */
.yE[title *=".rar"],
.yE[title *=".RAR"],
.yE[title *=".tar"],
.yE[title *=".TAR"],
.yE[title *=".zip"],
.yE[title *=".ZIP"] {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAhFBMVEX///9QUFBQUFBQUFDHhQRQUFChoaFQUFBcXFy5ii/HhQRQUFDLy8vj4+P777P09PRzc3ORkZGdnZ1jY2NWVlazs7OXl5evr6+4uLh7e3vCwsKKiopra2vGxsaDg4O8vLz2205cXFzPz8+hoaGlpaXe3t7q6urx8fHOzs6YmJisrKzX19eXNMJCAAAACnRSTlMAAPOEloeWlpbUcfQdlwAAAIZJREFUeF5VzUUSw0AMRFGNMdGAmdlBuP/9orHshd+mq/6mgQS3QwCbNHqxKKXgIV5L9nuUFNAYtDxI1JrYMM/GQuiU6rbAEMZhGE+hadvmFOJpik+hr+ueb/eXrCgy2F0Wq6oWDkLkT631+/7NheAQShYewZUugASg5eB8HGnRcvClL4jdPzQUDp2x9OieAAAAAElFTkSuQmCC');
}
/* Media */
.yE[title *=".avi"],
.yE[title *=".AVI"],
.yE[title *=".mov"],
.yE[title *=".MOV"],
.yE[title *=".mp"],
.yE[title *=".MP"] {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAWElEQVQ4jWP4//8/AyWY4baL+YK7AS7/QeBZfdl/IB+MiRRbwACT/HL04P9PO7fAFRMrBjfgZVfT/79fPqMoJkaMgWKAbDo5eJAZQCwYxF4YwQYsoMCABQAu1V08G/5LMAAAAABJRU5ErkJggg==');
}
/* PDF */
.yE[title *=".pdf"],
.yE[title *=".PDF"] {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAFo9M/3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAP9JREFUeNpiuO1i3gDE/5kYGBjqheJSGAACiBHEYwCBl11N/0EAIIAQIlDAxIAGAAKICBUgg0CMO64WYAEWGAMGAAIIwwwMAFLw7cLZ/z/u3AK7C8SGib1dNBvsBYbvl84xPM6IhbiCh5cBJvZu0RwGglYABBAhBY1MDPhBPSEFDAzoLof5BuQDWESguJxdWRXMFopNQYQtzIsgwVfdzQzIQUvQmwQdCRBghOOCAGBioBSAXAADv188+w9KjITEYAAejOAgvHiO4feL5wygtA0D7xbPYfi0ayuDWGktA7I6kDg8gcIloKkHGXDqGYHpPy+fM+BSN/CBCDKgkQL9jQCMRMcgIYCQQAAAAABJRU5ErkJggg==');
}
